.ordem-compra {
    margin-top: 50px;
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
    border: 1px solid #dc3545;
    box-shadow: 0 0 6px #dc3545;
}

select.ng-invalid.ng-touched {
    border: 1px solid #dc3545;
    box-shadow: 0 0 6px #dc3545;
}

input.ng-valid.ng-touched {
    border: 1px solid #28a745;
    box-shadow: 0 0 6px #28a745;
}

select.ng-valid.ng-dirty {
    border: 1px solid #28a745;
    box-shadow: 0 0 6px #28a745;
}